In [2]:
import pandas as pd 
import inflection


#-----------------------------------
### Funções
#-----------------------------------

def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df


COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America"
    }
def country_name(Country_Code):
    return COUNTRIES[Country_Code]

def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
    }
def color_name(color_code):
    return COLORS[color_code]



#-----------------------------------
### Importação dos dados
#-----------------------------------
df = pd.read_csv(r'C:\Users\Thiago\Documents\repos\Projeto_final\dataframe\zomato.csv')

print(df.columns)

df = rename_columns(df)

df["cuisines"] = df["cuisines"].apply(lambda x: x.split(",")[0] if isinstance(x, str) else x)

df['country'] = df['country_code'].apply(country_name)

df['price_type'] = df['price_range'].apply(create_price_tye)

display(df)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country,price_type
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,...,0,0,0,4,4.7,3F7E00,Excellent,469,Philippines,gourmet
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,Filipino,...,0,0,0,3,4.4,5BA829,Very Good,867,Philippines,expensive
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,0,0,3,4.4,5BA829,Very Good,858,Philippines,expensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,Italian,...,0,0,0,4,4.3,5BA829,Very Good,1367,Turkey,gourmet
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,Fast Food,...,0,0,0,2,4.5,3F7E00,Excellent,1172,Turkey,normal
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,...,0,0,0,4,4.2,5BA829,Very Good,1160,Turkey,gourmet
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,Home-made,...,0,0,0,3,4.0,5BA829,Very Good,770,Turkey,expensive
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,Restaurant Cafe,...,0,0,0,4,4.2,5BA829,Very Good,1141,Turkey,gourmet

In [4]:
df['country'].unique()

array(['Philippines', 'Brazil', 'Australia', 'United States of America',
       'Canada', 'Singapure', 'United Arab Emirates', 'India',
       'Indonesia', 'New Zeland', 'England', 'Qatar', 'South Africa',
       'Sri Lanka', 'Turkey'], dtype=object)

In [4]:
#Geral

# 1. Quantos restaurantes únicos estão registrados?

df.loc[:,'restaurant_id'].nunique()

6942

In [6]:
# 2. Quantos países únicos estão registrados?

df.loc[:,'country_code'].nunique()

15

In [11]:
# 3. Quantas cidades únicas estão registradas?

df.loc[:,'city'].nunique()

125

In [8]:
#  4. Qual o total de avaliações feitas?

df.loc[:,'votes'].sum()

np.int64(4639654)

In [9]:
# 5. Qual o total de tipos de culinária registrados?

df.loc[:,'cuisines'].nunique()

165

In [11]:
#Pais

# 1. Qual o nome do país que possui mais cidades registradas?

#city_count_by_country = df['Country'].value_counts()
#print(city_count_by_country)

qtde_cidades_pais_ = df.loc[:,['city','country']].groupby('country').nunique()

pais_mais_cidades = qtde_cidades_pais_['city'].idxmax()

qtde_cidades_pais = qtde_cidades_pais_.loc[pais_mais_cidades, 'city'].max()



print(f'O pais com mais cidades cadastradas é {pais_mais_cidades} com {qtde_cidades_pais} cidades')

O pais com mais cidades cadastradas é India com 49 cidades

In [12]:
 #2. Qual o nome do país que possui mais restaurantes registrados?

qtde_restaurantes_pais = df.loc[:,['restaurant_id','country']].groupby('country').nunique()

pais_mais_restaurantes = qtde_restaurantes_pais['restaurant_id'].idxmax()

print(pais_mais_restaurantes)

India

In [13]:
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

df_aux = df[df['price_range'] == 4]

qtde_restaurantes_pais = df_aux.loc[:,['restaurant_id','country']].groupby('country').nunique()

pais_mais_restaurantes = qtde_restaurantes_pais['restaurant_id'].idxmax()

print(pais_mais_restaurantes)

United States of America

In [15]:
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

qtde_culinarias_pais_ = df.loc[:,['cuisines','country']].groupby('country').nunique()

qtde_culinarias_pais = qtde_culinarias_pais_.max()

pais_mais_culinarias = qtde_culinarias_pais_['cuisines'].idxmax()

print(f'O país que possui a maior quantidade de tipos de culinária é {pais_mais_culinarias} com {qtde_culinarias_pais} culinária')

O país que possui a maior quantidade de tipos de culinária é India com cuisines    77
dtype: int64 culinária

In [5]:
qtda_restaurantes_cidades_cusines = df.groupby(['city','restaurant_id', 'country'])['cuisines'].count().reset_index()
qtda_restaurantes_cidades_cusines

           city  restaurant_id               country  cuisines
0     Abu Dhabi        5700005  United Arab Emirates         1
1     Abu Dhabi        5700007  United Arab Emirates         1
2     Abu Dhabi        5700031  United Arab Emirates         1
3     Abu Dhabi        5700042  United Arab Emirates         1
4     Abu Dhabi        5700049  United Arab Emirates         2
...         ...            ...                   ...       ...
6937   İstanbul       18384621                Turkey         1
6938   İstanbul       18426805                Turkey         1
6939   İstanbul       18442162                Turkey         1
6940   İstanbul       18453909                Turkey         1
6941   İstanbul       18514851                Turkey         1

[6942 rows x 4 columns]

In [16]:
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

qtde_avaliacoes = df.loc[:,['votes','country']].groupby('country').sum().reset_index()

qtde_pais_mais_avaliacoes = qtde_avaliacoes.max()

pais_mais_avaliacoes = qtde_avaliacoes['votes'].idxmax()


print(pais_mais_avaliacoes,qtde_pais_mais_avaliacoes)

4 country    United States of America
votes                       3175104
dtype: object

In [9]:
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

df_aux = df[(df['has_online_delivery'] == 1) & (df['is_delivering_now'] == 1)] 

restaurantes_entregas_pais = df_aux.loc[:,['restaurant_id','country']].groupby('country').nunique().reset_index()

pais_com_mais_restaurantes = restaurantes_entregas_pais.sort_values(by='restaurant_id', ascending=False).head(1)


print(pais_com_mais_restaurantes)

  country  restaurant_id
0   India           1150

In [7]:
 #7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

df_aux = df[(df['has_table_booking'] == 1)]

restaurantes_reservas = df_aux.loc[:,['restaurant_id','country']].groupby('country').nunique().reset_index()

pais_mais_restaurantes_reservas = restaurantes_reservas.sort_values(by='restaurant_id', ascending=False).head(1)

print(pais_mais_restaurantes_reservas)

  country  restaurant_id
2   India            256

In [17]:
#8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

media_nota_pais = df.loc[:,['votes','country']].groupby('country').mean().reset_index()

pais_melhor_media = media_nota_pais.sort_values(by='votes', ascending=False).head(1)

print(pais_melhor_media)

     country        votes
5  Indonesia  1115.317073

In [17]:
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?

media_nota_pais = df.loc[:,['aggregate_rating','country']].groupby('country').mean().reset_index()

pais_melhor_media = media_nota_pais.sort_values(by='aggregate_rating', ascending=False).head(1)

print(pais_melhor_media)

     country  aggregate_rating
5  Indonesia               4.6

In [18]:
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?

media_nota_pais = df.loc[:,['aggregate_rating','country']].groupby('country').mean().reset_index()

pais_melhor_media = media_nota_pais.sort_values(by='aggregate_rating', ascending=True).head(1)

print(pais_melhor_media)

  country  aggregate_rating
1  Brazil          3.349425

In [19]:
 #11. Qual a média de preço de um prato para dois por país?

media_preco_dois_pais = df.loc[:,['average_cost_for_two','country']].groupby('country').mean().reset_index()

ordenado = media_preco_dois_pais.sort_values(by='average_cost_for_two',ascending=False)

ordenado['average_cost_for_two'] = ordenado['average_cost_for_two'].round(2)

ordenado

                     country  average_cost_for_two
5                  Indonesia             312682.93
0                  Australia             138959.78
11                 Sri Lanka               2607.47
7                Philippines               1211.09
4                      India                702.30
10              South Africa                335.48
8                      Qatar                176.65
13      United Arab Emirates                158.22
9                  Singapure                141.04
1                     Brazil                137.38
12                    Turkey                128.85
6                 New Zeland                 61.44
14  United States of America                 54.92
3                    England                 43.05
2                     Canada                 41.86

In [40]:
#Cidade

 #1. Qual o nome da cidade que possui mais restaurantes registrados?

contagem_restaurantes_cidades = df.loc[:,['restaurant_id','city']].groupby('city').nunique().reset_index()

cidade_mais_restaurante = contagem_restaurantes_cidades.sort_values(by='restaurant_id', ascending=False).head(1)

cidade_mais_restaurante

        city  restaurant_id
0  Abu Dhabi             80

In [12]:
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de  4?

#df_aux = df[df['restaurant_id'] == 6310675]

media_nota_restaurante = df.loc[:,['city','restaurant_id','aggregate_rating']].groupby(['city','restaurant_id']).mean().reset_index()

nota_restaurante_4 = media_nota_restaurante[media_nota_restaurante['aggregate_rating'] > 4]

contagem_restaurantes_4 = nota_restaurante_4.loc[:,['city','restaurant_id']].groupby('city').nunique().reset_index()

city = contagem_restaurantes_4.sort_values(by='restaurant_id', ascending=False).head(1)

city

         city  restaurant_id
11  Bangalore             79

In [13]:
#3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

media_nota_restaurante = df.loc[:,['city','restaurant_id','aggregate_rating']].groupby(['city','restaurant_id']).mean().reset_index()

nota_restaurante_4 = media_nota_restaurante[media_nota_restaurante['aggregate_rating'] < 2.5]

contagem_restaurantes_4 = nota_restaurante_4.loc[:,['city','restaurant_id']].groupby('city').nunique().reset_index()

city = contagem_restaurantes_4.sort_values(by='restaurant_id', ascending=False).head(1)

city

      city  restaurant_id
6  Gangtok             40

In [18]:
#4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

valor_medio_prato_dois = df.groupby('city')['average_cost_for_two'].mean().reset_index()

valor_medio_prato_dois['average_cost_for_two'] = valor_medio_prato_dois['average_cost_for_two'].round(2)

cidade_maior_valor_medio_prato_dois = valor_medio_prato_dois.sort_values(by = 'average_cost_for_two', ascending = False).head(1)

cidade_maior_valor_medio_prato_dois

       city  average_cost_for_two
1  Adelaide             416734.13

In [43]:
#5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

cidades_qtda_culinarias = df.groupby('city')['cuisines'].nunique().reset_index()

cidades_mais_qtda_culinarias = cidades_qtda_culinarias.sort_values(by = 'cuisines', ascending = False).head(1)

cidades_mais_qtda_culinarias

          city  cuisines
14  Birmingham        32

In [29]:
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

df_aux = df[(df['has_table_booking'] ==1)] 

qtda_restaurante_reserva = df_aux.groupby('city')['restaurant_id'].nunique()

cidade_mais_reservas = qtda_restaurante_reserva.idxmax()

cidade_mais_reservas

'Bangalore'

In [20]:
#7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

df_aux = df[df['is_delivering_now'] == 1]

qtda_restaurante_entregas = df_aux.groupby('city')['restaurant_id'].nunique()

cidade_mais_restaurantes_entregas = qtda_restaurante_entregas.idxmax()

cidade_mais_restaurantes_entregas

'Amritsar'

In [54]:
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

df_aux_1 = df[df['has_online_delivery'] == 1]

qtda_restaurante_online = df_aux_1.groupby('city')['restaurant_id'].nunique()

cidade_mais_restaurantes_online = qtda_restaurante_online.idxmax()

cidade_mais_restaurantes_online

'Bhopal'

In [56]:
# Restaurantes

# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

qtda_avaliacoes = df.groupby('restaurant_name')['votes'].sum()

restaurante_mais_avaliacoes = qtda_avaliacoes.idxmax()

restaurante_mais_avaliacoes

"Domino's Pizza"

In [57]:
# 2. Qual o nome do restaurante com a maior nota média?

media_avaliacoes = df.groupby('restaurant_name')['aggregate_rating'].mean()

restaurante_maior_media = media_avaliacoes.idxmax()

restaurante_maior_media

'5 Napkin Burger'

In [60]:
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

maior_valor_prato = df.groupby('restaurant_name')['average_cost_for_two'].max()

restaurante_maior_valor_duas_pessoas = maior_valor_prato.idxmax()

restaurante_maior_valor_duas_pessoas

"d'Arry's Verandah Restaurant"

In [65]:
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

df_aux = df[df['cuisines'] == 'Brazilian']

media_avaliacao_restaurante = df_aux.groupby('restaurant_name')['aggregate_rating'].mean()

restaurante_brasileiro_pior = media_avaliacao_restaurante.idxmin()

restaurante_brasileiro_pior

'Bar do Luiz Fernandes'

In [67]:
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

df_aux = df[df['cuisines'] == 'Brazilian']

media_avaliacao_restaurante = df_aux.groupby('restaurant_name')['aggregate_rating'].mean()

restaurante_brasileiro_melhor = media_avaliacao_restaurante.idxmax()

restaurante_brasileiro_melhor

'Aprazível'

In [21]:
# 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

df_aux_1 = df[df['has_online_delivery'] == 1]
df_aux_2 = df[df['has_online_delivery'] == 0] 

qtda_media_avaliacoes_online = df_aux_1['votes'].mean()

qtda_media_avaliacoes_no = df_aux_2['votes'].mean()

if qtda_media_avaliacoes_online > qtda_media_avaliacoes_no:
    print("Sim, os restaurantes que aceitam pedidos online tem mais avaliações")
else:
    print("Não, os restaurantes que não aceitam tem mais avaliações")

Sim, os restaurantes que aceitam pedidos online tem mais avaliações

In [4]:
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

df_aux_1 = df[df['has_table_booking'] == 1]
df_aux_2 = df[df['has_table_booking'] == 0]

valor_medio_prato_dois_reserva = df_aux_1['average_cost_for_two'].mean()

valor_medio_prato_dois_sem_reserva = df_aux_2['average_cost_for_two'].mean()

if valor_medio_prato_dois_reserva > valor_medio_prato_dois_sem_reserva:
    print("Sim, os restaurantes que aceitam reserva tem preços mais caro para duas pessoas")
else:
    print("Não, os restaurantes que não aceitam reserva tem preços mais caro para duas pessoas")

Sim, os restaurantes que aceitam reserva tem preços mais caro para duas pessoas

In [10]:
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias
#  americanas (BBQ)?

valor_medio_japonesea_eua = df[(df['cuisines'] == 'Japanese') & (df['country'] == 'United States of America')]['average_cost_for_two'].mean()

valor_medio_bbq_eua = df[(df['cuisines'] == 'BBQ') & (df['country'] == 'United States of America')]['average_cost_for_two'].mean()

if valor_medio_japonesea_eua > valor_medio_bbq_eua:
    print("Sim, os restaurantes que servem comida japonesa tem preços mais caro para duas pessoas")
else:
    print("Não, os restaurantes que que servem BBQ tem preços mais caro para duas pessoas")

Sim, os restaurantes que servem comida japonesa tem preços mais caro para duas pessoas

In [ ]:
#Tipos de Culinária

# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

media_aval_italiana = df[df['cuisines'] == 'Italian'].groupby('restaurant_name')['aggregate_rating'].mean()

melhor_avaliado_restaurante_italiano = media_aval_italiana.idxmax()

melhor_avaliado_restaurante_italiano

'Amano Restaurant'

In [16]:
#2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

media_aval_italiana = df[df['cuisines'] == 'Italian'].groupby('restaurant_name')['aggregate_rating'].mean()

pior_avaliado_restaurante_italiano = media_aval_italiana.idxmin()

pior_avaliado_restaurante_italiano

'Avenida Paulista'

In [39]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'country', 'price_type'],
      dtype='object')

In [38]:
print(df['cuisines'].unique())

['Italian' 'European' 'Filipino' 'American' 'Korean' 'Pizza' 'Taiwanese'
 'Japanese' 'Coffee' 'Chinese' 'Seafood' 'Singaporean' 'Vietnamese'
 'Latin American' 'Healthy Food' 'Cafe' 'Fast Food' 'Brazilian'
 'Argentine' 'Arabian' 'Bakery' 'Tex-Mex' 'Bar Food' 'International'
 'French' 'Steak' 'German' 'Sushi' 'Grill' 'Peruvian' 'North Eastern'
 'Ice Cream' 'Burger' 'Mexican' 'Vegetarian' 'Contemporary' 'Desserts'
 'Juices' 'Beverages' 'Spanish' 'Thai' 'Indian' 'Mineira' 'BBQ'
 'Mongolian' 'Portuguese' 'Greek' 'Asian' 'Author' 'Gourmet Fast Food'
 'Lebanese' 'Modern Australian' 'African' 'Coffee and Tea' 'Australian'
 'Middle Eastern' 'Malaysian' 'Tapas' 'New American' 'Pub Food' 'Southern'
 'Diner' 'Donuts' 'Southwestern' 'Sandwich' 'Irish' 'Mediterranean'
 'Cafe Food' 'Korean BBQ' 'Fusion' 'Canadian' 'Breakfast' 'Cajun'
 'New Mexican' 'Belgian' 'Cuban' 'Taco' 'Caribbean' 'Polish' 'Deli'
 'British' nan 'California' 'Others' 'Eastern European' 'Creole' 'Ramen'
 'Ukrainian' 'Hawaiian' 'Patisserie' 'Yum Cha' 'Pacific Northwest' 'Tea'
 'Moroccan' 'Burmese' 'Dim Sum' 'Crepes' 'Fish and Chips' 'Russian'
 'Continental' 'South Indian' 'North Indian' 'Salad' 'Finger Food' 'Mandi'
 'Turkish' 'Kerala' 'Pakistani' 'Biryani' 'Street Food' 'Nepalese' 'Goan'
 'Iranian' 'Mughlai' 'Rajasthani' 'Mithai' 'Maharashtrian' 'Gujarati'
 'Rolls' 'Momos' 'Parsi' 'Modern Indian' 'Andhra' 'Tibetan' 'Kebab'
 'Chettinad' 'Bengali' 'Assamese' 'Naga' 'Hyderabadi' 'Awadhi' 'Afghan'
 'Lucknowi' 'Charcoal Chicken' 'Mangalorean' 'Egyptian' 'Malwani'
 'Armenian' 'Roast Chicken' 'Indonesian' 'Western' 'Dimsum' 'Sunda' 'Kiwi'
 'Asian Fusion' 'Pan Asian' 'Balti' 'Scottish' 'Cantonese' 'Sri Lankan'
 'Khaleeji' 'South African' 'Drinks Only' 'Durban' 'World Cuisine'
 'Izgara' 'Home-made' 'Giblets' 'Fresh Fish' 'Restaurant Cafe' 'Kumpir'
 'Döner' 'Turkish Pizza' 'Ottoman' 'Old Turkish Bars' 'Kokoreç']

In [22]:
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

media_aval_americana = df[df['cuisines'] == 'American'].groupby('restaurant_name')['aggregate_rating'].mean()

melhor_avaliado_restaurante_americana = media_aval_americana.idxmax()

melhor_avaliado_restaurante_americana

'5 Napkin Burger'

In [23]:
#4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

media_aval_americana = df[df['cuisines'] == 'American'].groupby('restaurant_name')['aggregate_rating'].mean()

pior_avaliado_restaurante_americana = media_aval_americana.idxmin()

pior_avaliado_restaurante_americana

'Alston Bar & Beef'

In [24]:
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

media_aval_arabian = df[df['cuisines'] == 'Arabian'].groupby('restaurant_name')['aggregate_rating'].mean()

melhor_avaliado_restaurante_arabian = media_aval_arabian.idxmax()

melhor_avaliado_restaurante_arabian

'Mandi@36'

In [32]:
#  6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

media_aval_arabian = df[df['cuisines'] == 'Arabian'].groupby('restaurant_name')['aggregate_rating'].mean()

pior_avaliado_restaurante_arabian = media_aval_arabian.idxmin()

pior_avaliado_restaurante_arabian

'Raful'

In [27]:
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do  restaurante com a maior média de avaliação?

media_aval_japanese = df[df['cuisines'] == 'Japanese'].groupby('restaurant_name')['aggregate_rating'].mean()

melhor_avaliado_restaurante_japanese = media_aval_japanese.idxmax()

melhor_avaliado_restaurante_japanese

'Chotto Matte'

In [33]:
#  8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

media_aval_japanese = df[df['cuisines'] == 'Japanese'].groupby('restaurant_name')['aggregate_rating'].mean()

pior_avaliado_restaurante_japanese = media_aval_japanese.idxmin()

pior_avaliado_restaurante_japanese

'Banzai Sushi'

In [4]:
#  9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

media_aval_caseira = df[df['cuisines'] == 'Home-made'].groupby('restaurant_name')['aggregate_rating'].mean()

melhor_avaliado_restaurante_caseira = media_aval_caseira.idxmax()

melhor_avaliado_restaurante_caseira

'Kanaat Lokantası'

In [3]:
#  10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

media_aval_caseira = df[df['cuisines'] == 'Home-made'].groupby('restaurant_name')['aggregate_rating'].mean()

pior_avaliado_restaurante_caseira = media_aval_caseira.idxmin()

pior_avaliado_restaurante_caseira

'GurMekan Restaurant'

In [40]:
#  11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

valor_medio_culinaria_duas_pessoas = df.groupby('cuisines')['average_cost_for_two'].mean()

maior_valor_medio_culinaria_duas_pessoas = valor_medio_culinaria_duas_pessoas.idxmax()

maior_valor_medio_culinaria_duas_pessoas

'Modern Australian'

In [41]:
#  12. Qual o tipo de culinária que possui a maior nota média?

nota_media_culinaria = df.groupby('cuisines')['aggregate_rating'].mean()

maior_nota_media_culinaria = nota_media_culinaria.idxmax()

maior_nota_media_culinaria

'Others'

In [2]:
 # 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes', 'country', 'price_type'],
      dtype='object')