In [ ]:
import pandas as pd
import io
import re

df = pd.read_csv("C:/Users/Thiago/Documents/repos/ftc_programacao_python/train.csv")

linhas_selecionadas = (df["Delivery_person_Age"] != "Nan ")
df = df.loc[linhas_selecionadas, :].copy()

df["Delivery_person_Age"] = df["Delivery_person_Age"].astype( int )
df.shape

df["Delivery_person_Ratings"] = df['Delivery_person_Ratings'].astype( float )

df["Order_Date"] = pd.to_datetime( df['Order_Date'], format='%d-%m-%Y' )

linhas_selecionadas = (df['multiple_deliveries'] != "NaN" )
df = df.loc[linhas_selecionadas, :].copy()
df['multiple_deliveries'] = df['multiple_deliveries'].astype( int )


##for i in range( len( df ) ):
##    df.loc[i, 'ID'] = df.loc[i, 'ID'].strip()
##    df.loc[i, 'Delivery_person_ID'] = df.loc[i, 'Delivery_person_ID'].strip()

##linhas_vazias = df['Delivery_person_Age'] != 'NaN '
##df = df.loc[linhas_vazias, :]

In [23]:
import pandas as pd
import io
import re

# Ler o arquivo CSV
df = pd.read_csv("C:/Users/Thiago/Documents/repos/ftc_programacao_python/train.csv")

# Remover linhas onde a idade do entregador é NaN
linhas_selecionadas = df["Delivery_person_Age"].notna()
df = df.loc[linhas_selecionadas, :].copy()

# Converter a idade do entregador para numérico, lidando com erros
df["Delivery_person_Age"] = pd.to_numeric(df["Delivery_person_Age"], errors='coerce')

# Remover linhas com NaN após conversão
df = df[df["Delivery_person_Age"].notna()]

# Converter a idade do entregador para inteiro
df["Delivery_person_Age"] = df["Delivery_person_Age"].astype(int)

# Converter as classificações dos entregadores para float, lidando com erros
df["Delivery_person_Ratings"] = pd.to_numeric(df['Delivery_person_Ratings'], errors='coerce')
df = df[df["Delivery_person_Ratings"].notna()]  # Remover linhas com NaN

# Converter a data do pedido para datetime
df["Order_Date"] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

# Remover linhas onde o número de entregas múltiplas é NaN
linhas_selecionadas = df['multiple_deliveries'].notna()
df = df.loc[linhas_selecionadas, :].copy()

# Converter múltiplas entregas para inteiro, lidando com erros
df['multiple_deliveries'] = pd.to_numeric(df['multiple_deliveries'], errors='coerce')
df = df[df['multiple_deliveries'].notna()]  # Remover linhas com NaN

# Converter múltiplas entregas para inteiro
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

df.loc[:, 'ID'] = df.loc[:, 'ID'].str.strip()
df.loc[:, 'Road_traffic_density'] = df.loc[:, 'Road_traffic_density'].str.strip()
df.loc[:, 'Type_of_order'] = df.loc[:, 'Type_of_order'].str.strip()
df.loc[:, 'Type_of_vehicle'] = df.loc[:, 'Type_of_vehicle'].str.strip()
df.loc[:, 'City'] = df.loc[:, 'City'].str.strip()

# Exibir a forma do DataFrame
print(df.shape)

(42752, 20)

In [12]:
linhas_vazias = df['multiple_deliveries'] != 'NaN '
df = df.loc[linhas_vazias, :]
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

In [ ]:
linhas_condicional_verdadeira = df["Delivery_person_Age"] > "35"
colunas_selecionadas = ["ID", "Delivery_person_Age"]

df.loc[linhas_condicional_verdadeira,colunas_selecionadas]

In [8]:
##2. Qual o número total de entregadores únicos cadastrados na base de dados?

total_entregadores = df["Delivery_person_ID"].nunique()
print("Total de entregadores ativos: ", total_entregadores)

Total de entregadores ativos:  1320

In [9]:
df.shape[0]

42752

In [65]:
###3. Qual a idade do entregador mais velho? E do mais novo?

df.dropna(subset=["Delivery_person_Age"])
entregador_mais_velho = df["Delivery_person_Age"].max()
entregador_mais_novo = df["Delivery_person_Age"].min()

print(f"o entregador mais velho possui", entregador_mais_velho)
print(f"o entregador mais velho possui", entregador_mais_novo)

o entregador mais velho possui 50
o entregador mais velho possui 15

In [3]:
###4. Qual o ID do entregador com a maior idade? E o ID do entregaor com a menor idade?

df_aux = df.sort_values("Delivery_person_Age",ascending=False)
print(df_aux.iloc[0,2])
print(df_aux.iloc[-1,2])
print(df_aux.iloc[0,1])

50
15
KNPRES16DEL02

In [5]:
###5. Quais os nomes das condições climáticas?
tipo = df.dropna(subset="Weatherconditions")
df.loc[:, "Weatherconditions"].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

In [61]:
###6. Quantas entregas foram realizadas sob condições climáticas de tempestade de areia? ( Sandstorms )

total_entregas = df[df["Weatherconditions"] == "conditions Sandstorms"]["ID"].nunique()

print(total_entregas)

7321

In [7]:
condition = "conditions Sandstorms"

filtro = df["Weatherconditions"] =="conditions Sandstorms"

len(df.loc[filtro,"ID"])

7245

In [14]:
###7. Quais eram as condicões climáticas da data mais recente de entrega?



df['Order_Date'] = pd.to_datetime(df['Order_Date'])

data_limite = df['Order_Date'].max()
df_filtrados = df[df['Order_Date'] == data_limite]

condicoes_climaticas = df_filtrados.head(10)['Weatherconditions']

print(condicoes_climaticas)

194     conditions Sunny
241     conditions Sunny
259    conditions Stormy
389     conditions Sunny
412     conditions Windy
427    conditions Cloudy
455    conditions Cloudy
472     conditions Windy
508    conditions Cloudy
509     conditions Sunny
Name: Weatherconditions, dtype: object

In [15]:
##Resolução curso

df_aux = df.sort_values("Order_Date", ascending=False)

print(df_aux.iloc[0, 11])

conditions Sandstorms

In [16]:
##. 8Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

tipo_de_densidade = df['Road_traffic_density'].unique()
qtda_tipos = df['Road_traffic_density'].nunique()

print(f'exitem as seguintes densidades',tipo_de_densidade)
print(f'totalizando', qtda_tipos)

exitem as seguintes densidades ['High ' 'Jam ' 'Low ' 'Medium ' 'NaN ']
totalizando 5

In [17]:
###9. Quantas entregas foram feitas em cada condição climática?

condicoes = list(df["Weatherconditions"].unique()) 

condicoes

for tempo in condicoes:
   print(f' A condição climatica {tempo} teve {df.loc[df["Weatherconditions"] == tempo, :].shape[0]} entregas')

 A condição climatica conditions Sunny teve 6893 entregas
 A condição climatica conditions Stormy teve 7218 entregas
 A condição climatica conditions Sandstorms teve 7077 entregas
 A condição climatica conditions Cloudy teve 7124 entregas
 A condição climatica conditions Fog teve 7283 entregas
 A condição climatica conditions Windy teve 7066 entregas
 A condição climatica conditions NaN teve 91 entregas

In [18]:
## 10.Quantos entregadores unicos fizeram entregas em cada condição climatica?

entregadores = df["Delivery_person_ID"].unique()

print(entregadores)

['INDORES13DEL02 ' 'BANGRES18DEL02 ' 'BANGRES19DEL01 ' ...
 'BHPRES06DEL03 ' 'GOARES03DEL03 ' 'GOARES01DEL03 ']

In [19]:
condicoes = list(df["Weatherconditions"].unique()) 

condicoes

for tempo in condicoes:
   print(f' A condição climatica {tempo} teve {df.loc[df["Weatherconditions"] == tempo, "Delivery_person_ID"].nunique()} entregadores unicos')

 A condição climatica conditions Sunny teve 1230 entregadores unicos
 A condição climatica conditions Stormy teve 1233 entregadores unicos
 A condição climatica conditions Sandstorms teve 1239 entregadores unicos
 A condição climatica conditions Cloudy teve 1244 entregadores unicos
 A condição climatica conditions Fog teve 1250 entregadores unicos
 A condição climatica conditions Windy teve 1230 entregadores unicos
 A condição climatica conditions NaN teve 87 entregadores unicos

In [20]:
## 11 Quantas entregas foram feitas em cada tipo de densidade de trânsito?

condicoes = list(df["Road_traffic_density"].unique()) 

condicoes

for tipo in condicoes:
   print(f' A condição climatica {tipo} teve {df.loc[df["Road_traffic_density"] == tipo, "ID"].nunique()} entregas')

 A condição climatica High  teve 4210 entregas
 A condição climatica Jam  teve 13465 entregas
 A condição climatica Low  teve 14583 entregas
 A condição climatica Medium  teve 10403 entregas
 A condição climatica NaN  teve 91 entregas

In [21]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)'],
      dtype='object')

In [22]:
##13 . Quantas cidades unicas existem na base ? Quais são seus nomes?

print(len(df["City"].unique()))
print(df["City"].unique())

4
['Urban ' 'Metropolitian ' 'Semi-Urban ' 'NaN ']

In [37]:
##14. Quantos tipos de veiculos existem na base?


print(len(df["Type_of_vehicle"].unique()))

4

In [45]:
##15.Qual o tipo de veiculo que mais vez entregas com a condição de transito pesado?(High)

veiculo = list(df["Type_of_vehicle"].unique())

for tipo in veiculo:
   num_enregas = df[(df["Type_of_vehicle"]== tipo) & (df["Road_traffic_density"] == "High ")]
   print(f'O tipo {tipo} teve {num_entregas.shape[0]} entregas')

NameError: name 'num_entregas' is not defined

##AULA POR AGRUPAMENTO:

In [28]:
##Quantidade de entregas por cidade

cols = ['Delivery_person_Age', 'City', 'Type_of_vehicle']

df.loc[:, cols].groupby(['City', 'Type_of_vehicle']).mean().reset_index()

             City   Type_of_vehicle  Delivery_person_Age
0   Metropolitian           bicycle            31.333333
1   Metropolitian  electric_scooter            29.960572
2   Metropolitian        motorcycle            29.755246
3   Metropolitian           scooter            29.817310
4             NaN  electric_scooter            29.579545
5             NaN        motorcycle            28.898276
6             NaN           scooter            28.559633
7      Semi-Urban  electric_scooter            36.000000
8      Semi-Urban        motorcycle            32.378571
9      Semi-Urban           scooter            34.333333
10          Urban  electric_scooter            28.986352
11          Urban        motorcycle            28.934807
12          Urban           scooter            28.857394

In [32]:
## Qual o número total de entregadores cadastrados na base de dados?

df['Delivery_person_ID'].count()

np.int64(42752)

In [33]:
##2. Qual o número total de entregadores únicos cadastrados na base de dados?

df['Delivery_person_ID'].nunique()

1320

In [37]:
##2. Qual a média de idade dos entregadores por cidade?

cols = ['Delivery_person_Age', 'City']

df.loc[:, cols].groupby(['City']).mean().reset_index()

            City  Delivery_person_Age
0  Metropolitian            29.792810
1            NaN            28.818841
2     Semi-Urban            32.565789
3          Urban            28.911424

In [39]:
## Qual a mediana de idade dos entregadores por cidade?

cols = ['Delivery_person_Age', 'City']

df.loc[:, cols].groupby(['City']).median().reset_index()

            City  Delivery_person_Age
0  Metropolitian                 30.0
1            NaN                 28.0
2     Semi-Urban                 32.0
3          Urban                 28.0

In [41]:
##4. Qual o número total de entregas feitas por densidade de tráfego?

cols = ['ID', 'Road_traffic_density']

df.loc[:, cols].groupby(['Road_traffic_density']).count().reset_index()

  Road_traffic_density     ID
0                 High   4210
1                  Jam  13465
2                  Low  14583
3               Medium  10403
4                  NaN     91

In [43]:
##5. Qual a média das avaliações das entregas feitas por densidade de tráfego?

cols = ['Delivery_person_Ratings', 'Road_traffic_density']

df.loc[:, cols].groupby(['Road_traffic_density']).mean().reset_index()

  Road_traffic_density  Delivery_person_Ratings
0                 High                 4.653492
1                  Jam                 4.595395
2                  Low                 4.646780
3               Medium                 4.660627
4                  NaN                 3.912088

In [44]:
##6. Qual a quantidade de entregas feitas por cidade?

cols = ['ID', 'City']

df.loc[:, cols].groupby(['City']).count().reset_index()

            City     ID
0  Metropolitian  31990
1            NaN   1104
2     Semi-Urban    152
3          Urban   9506

In [49]:
##7. Qual a média, mediana e desvio padrão das entregas feitas por cidade e por tipo de veículo?

cols = ['Delivery_person_Age', 'City', 'Type_of_vehicle']

df.loc[:, cols].groupby(['City', 'Type_of_vehicle']).agg(['mean','median', 'std']).reset_index()

             City   Type_of_vehicle Delivery_person_Age
                                                   mean median        std
0   Metropolitian           bicycle           31.333333   15.0  18.073922
1   Metropolitian  electric_scooter           29.960572   30.0   5.949841
2   Metropolitian        motorcycle           29.755246   30.0   5.761440
3   Metropolitian           scooter           29.817310   30.0   5.829044
4             NaN  electric_scooter           29.579545   29.0   6.300377
5             NaN        motorcycle           28.898276   28.0   5.650286
6             NaN           scooter           28.559633   28.0   5.642093
7      Semi-Urban  electric_scooter           36.000000   35.0   2.645751
8      Semi-Urban        motorcycle           32.378571   32.0   5.098269
9      Semi-Urban           scooter           34.333333   34.0   3.605551
10          Urban  electric_scooter           28.986352   28.0   6.260876
11          Urban        motorcycle           28.934807   28.0   5.725011
12          Urban           scooter           28.857394   28.0   5.797854

In [56]:
##8. Qual a primeira data de entrega por cada cidade?

df_aux = df.sort_values('Order_Date', ascending = False)

cols = ['Order_Date','City']

df.loc[:, cols ].groupby('City')['Order_Date'].min().reset_index()

            City Order_Date
0  Metropolitian 2022-02-11
1            NaN 2022-02-11
2     Semi-Urban 2022-02-11
3          Urban 2022-02-11

In [57]:
##9. Qual a última data de entrega por cada cidade?

df_aux = df.sort_values('Order_Date', ascending = False)

cols = ['Order_Date','City']

df.loc[:, cols ].groupby('City')['Order_Date'].max().reset_index()

            City Order_Date
0  Metropolitian 2022-04-06
1            NaN 2022-04-06
2     Semi-Urban 2022-04-06
3          Urban 2022-04-06

In [59]:
##10. Qual a média de avaliações das entregas feitas por condições climáticas?


cols = ['Delivery_person_Ratings','Weatherconditions']

df.loc[:, cols].groupby('Weatherconditions').mean().reset_index()

       Weatherconditions  Delivery_person_Ratings
0      conditions Cloudy                 4.652190
1         conditions Fog                 4.653549
2         conditions NaN                 3.912088
3  conditions Sandstorms                 4.613000
4      conditions Stormy                 4.613369
5       conditions Sunny                 4.658030
6       conditions Windy                 4.617804

In [61]:
##11. Qual o valor da avaliação mais baixa feita por tipo de condição climática e por densidade de tráfego?

cols = ['Delivery_person_Ratings','Weatherconditions','Road_traffic_density']

df.loc[:, cols].groupby(['Weatherconditions','Road_traffic_density'])['Delivery_person_Ratings'].min().reset_index()

        Weatherconditions Road_traffic_density  Delivery_person_Ratings
0       conditions Cloudy                 High                      4.0
1       conditions Cloudy                  Jam                      4.0
2       conditions Cloudy                  Low                      3.5
3       conditions Cloudy               Medium                      4.0
4          conditions Fog                 High                      4.0
5          conditions Fog                  Jam                      4.0
6          conditions Fog                  Low                      3.5
7          conditions Fog               Medium                      4.0
8          conditions NaN                  NaN                      1.0
9   conditions Sandstorms                 High                      4.0
10  conditions Sandstorms                  Jam                      3.5
11  conditions Sandstorms                  Low                      4.0
12  conditions Sandstorms               Medium                      3.5
13      conditions Stormy                 High                      4.0
14      conditions Stormy                  Jam                      3.5
15      conditions Stormy                  Low                      4.0
16      conditions Stormy               Medium                      3.5
17       conditions Sunny                 High                      3.5
18       conditions Sunny                  Jam                      3.5
19       conditions Sunny                  Low                      2.5
20       conditions Sunny               Medium                      4.0
21       conditions Windy                 High                      4.0
22       conditions Windy                  Jam                      3.5
23       conditions Windy                  Low                      4.0
24       conditions Windy               Medium                      3.5

In [64]:
##2. Qual a média, mediana e desvio padrão das avaliações por cada tipo de condições de veículos?

cols = ['Delivery_person_Ratings', 'Vehicle_condition']

df.loc[:, cols].groupby(['Vehicle_condition']).agg(['mean', 'median', 'std']).reset_index()

  Vehicle_condition Delivery_person_Ratings
                                       mean median       std
0                 0                4.609126    4.7  0.298199
1                 1                4.648569    4.7  0.320140
2                 2                4.646178    4.7  0.322822
3                 3                3.912088    6.0  2.479464

In [60]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)'],
      dtype='object')